.faq{
    padding: 0 0.9rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width: 90%;
}
.question{
    background-color: #D9D9D9;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 1px solid #C0BFCA;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
}
.text_question{
    font-family: 'Inter', sans-serif;
    color: #828282;
    font-weight: 600;
    font-size: 12px;
    padding-left: 16px;
}
.answer{
    background-color: #D9D9D9;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 74px;
    display: flex;
    align-items: center;
    width: 100%;
    
}
.arrow{
    padding-right: 16px;
    
}
.text_answer{
    font-family: 'Inter', sans-serif;
    color: #828282;
    font-weight: 400;
    font-size: 12px;
    cursor: text !important;
    padding-left: 16px;
    
}

@media screen and (min-width: 900px) {
    .faq{
        width: 75%;
    }
    .text_question{
        font-size: 17px;
        padding-left: 25px;
    }
    .arrow{
        padding-right: 25px;
    }
    .text_answer{
        font-size: 17px;
        padding-left: 25px;
    }
    
}