.text_about{
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color:  #828282;
}
.container_about{
    display: flex;
    flex-direction: row;
    align-items: center;
}